/* general */

body {
    background-color: #f5f0ff;
}

h2 {
    color: #330066;
}

h3 {
    color: #404040;
}

p {
    color: #707070;
}

li a {
    color: #875DFA;
}

li a:hover {
    color: black;
}

img {
    filter: grayscale(80%);
    margin: auto;
    width: 50%;
}

/* navbar */

.navbar {
    background-color: white;
}

.navbar-nav {
    margin-left: 5%;
}

/* buttons */

.btn-primary {
    background-color: #B76FFF;
    border-color: #B76FFF;
}

.btn-primary:hover {
    background-color: #330066;
    border-color: #330066;
}

.btn-danger {
    background-color: black;
    border-color: black;
}

.btn-danger:hover {
    background-color: #707070;
    border-color: black;
    color: black;
}

.btn-outline-danger {
    color: black;
    border-color: black;
}

.btn-outline-danger:hover {
    background-color: white;
    border-color: white;
    color: black;
}

.btn-success {
    background-color: #707070;
    border-color: #707070;
}

.btn-success:hover {
    background-color: white;
    border-color: #330066;
    color: #330066;
}

.btn-warning {
    background-color: #330066;
    border-color: #330066; 
    color: white;
}

.btn-warning:hover {
    background-color: white;
    border-color: #B76FFF;
    color: #B76FFF;
}