{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="h1">{{ group.name }}</h1>
    {% if group.description %}
    <p>{{ group.description }}</p>
    {% endif %}

    <h3 class="h3">Users in Group</h3>
    {% if group.users %}
    <ul>
        <li><a href=""></a>{{ group.users.username }}</li>
    </ul>
    {% else %}
    <p>There are no users in this group yet!</p>
    {% endif %}

    <a href="" class="btn btn-primary">Join Group</a>
    <a href="" class="btn btn-danger">Delete Group</a>
    <a href="/groups" class="btn btn-success">Back to all Groups</a>
</div>


{% endblock %}