{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="h1">{{ group.name }}</h1>
    {% if group.description %}
    <p>{{ group.description }}</p>
    {% endif %}

    <h3 class="h3">Users in Group</h3>
    {% if group.users %}
        {% for u in group.users %}
        <ul>
            <li><a href="/profile/{{ u.id }}">{{ u.username }}</a></li>
        </ul>
        {% endfor %}
        {% else %}
        <p>There are no users in this group yet!</p>
    {% endif %}

    {% if group.users %}
        {% for u in group.users %}
            {% if u == g.user %}
            <form method="POST" action="/groups/{{ group.id }}/leave" class="form-inline">
                <button class="btn btn-outline-danger">Leave Group</button>
            </form>
            {% else %}
            <form method="POST" action="/groups/{{ group.id }}/join" class="form-inline">
                <button class="btn btn-primary">Join Group</button>
            </form>
            {% endif %}
        {% endfor %}
    {% endif %}

    <form method="POST" action="/groups/{{ group.id }}/delete" class="form-inline">
        <button class="btn btn-danger">Delete Group</button>
    </form>
    <a href="/groups/{{ group.id }}/edit" class="btn btn-warning">Edit Group</a>
    <a href="/groups" class="btn btn-success">Back to all Groups</a>
</div>
<br>


{% endblock %}