{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="h1">Sorry!! PAGE NOT FOUND!</h1>
    <p><img src="https://images.unsplash.com/photo-1578328819058-b69f3a3b0f6b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80" alt="https://images.unsplash.com/photo-1623018035782-b269248df916?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"></p>
    <p>Would you like to navigate to the Home page? <a href="/" class="btn btn-primary">Home</a></p>
</div>
<br>

{% endblock %}