{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="h1">About Calorie Counter</h1>
    <p>Calorie Counter is an application that users can choose to register for in order to have an electronic daily journal keep track of their calorie count by adding up all of the calories gained from food eaten throughout the day. Calorie Counter also offers networking capabilities and support by offering users the ability to follow and be followed by other users as well as join support groups based on common interests and/or traits.</p>
    <img class="about-pic" src="https://images.unsplash.com/photo-1488459716781-31db52582fe9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="https://images.unsplash.com/photo-1597820901084-1b9b8ab61f70?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80">
</div>
<br>

{% endblock %}