{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="h1">Welcome to Calorie Counter</h1>
    <h2 class="h2">Who are we?</h2>
    <p>Calorie Counter is the health and lifestyle social platform that you are missing in your life to help hold you accountable for your goals.</p>
</div>

<div class="container">
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1506485338023-6ce5f36692df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="https://images.unsplash.com/photo-1589137081110-aa454195e447?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=560&q=80">
        <div class="carousel-caption d-none d-md-block text-black">
        <p>Want to have your daily food journal available to you everywhere just at the touch of a button?</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80">
        <div class="carousel-caption d-none d-md-block">
        <p>Want to join a network of like-minded people to gain the support you need to keep you on track?</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
</div>

<div class="container">
    <h3 class="h3">What are you waiting for? Start today, so you can be just one step closer to your goals!</h3>
    <div class="">
        <a class="btn btn-primary" href="/signup" role="button">Sign Up</a>
    </div>
    <h3 class="h3">Already have an account with us? Welcome back!</h4>
    <div class="">
        <a class="btn btn-primary" href="/login" role="button">Log In</a>
    </div>
</div>

{% endblock %}