<h1>Welcome to Calorie Counter</h1>
<h2>Who are we?</h2>
<p>Calorie Counter is the health and lifestyle social platform that you are missing in your life to help hold you accountable for your goals.</p>
<ul>
    <li>Want to have your daily food journal available everywhere just at the touch of a button?</li>
    <li>Want to record your daily workouts to see how the sweat you work up equates to reaching your daily caloric intake goals?</li>
    <li>Want to join a network of like-minded people to gain the support you need to keep you on track?</li>
</ul>
<h3>What are you waiting for? Start today, so you can be just one step closer to your goals!</h3>
<div>
    <a href="/signup">Sign Up</a>
</div>
<h4>Already have an account with us? Welcome back!</h4>
<div>
    <a href="/login">Log In</a>
</div>