{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="h1">Welcome to Calorie Counter</h1>
    <h2 class="h2">Who are we?</h2>
    <p>Calorie Counter is the health and lifestyle social platform that you are missing in your life to help hold you accountable for your goals.</p>
</div>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <p>Want to have your daily food journal available everywhere just at the touch of a button?</p>
      </div>
      <div class="carousel-item active">
        <p>Want to record your daily workouts to see how the sweat you work up equates to reaching your daily caloric intake goals?</p>
      </div>
      <div class="carousel-item active">
        <p>Want to join a network of like-minded people to gain the support you need to keep you on track?</p>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- <img src="..." class="d-block w-100" alt="..."> -->
<div class="container">
    <h3 class="h3">What are you waiting for? Start today, so you can be just one step closer to your goals!</h3>
    <div class="">
        <a href="/signup" class="button">Sign Up</a>
    </div>
    <h4 class="h4">Already have an account with us? Welcome back!</h4>
    <div class="">
        <a href="/login" class="button">Log In</a>
    </div>
</div>

{% endblock %}