{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="h1">Create Your Profile</h1>
    <p>Creating a profile is optional. It will help you connect with other Calorie Counter users and join groups with common interests.</p>
    <form method="POST" id="create_profile_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
        </p>
        {% endfor %}

        <button class="btn btn-primary">Create</button>
        <a href="/profile/{{ user.id }}" class="btn btn-success">Skip</a>
    </form>
</div>

{% endblock %}
