{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="h1">Log exercise type into Daily Journal for {{ user.username }}</h1>
    <p>Use this form to log an exercise type into the daily journal. Be as specific as you can with the duration or length of the exercise to help make the calorie count as accurate as possible. Example: "ran 3 miles" or "yoga for 30 minutes" is going to give a more accurate result than simply putting just "ran" or "yoga".</p>
    <form method="POST" id="exercise_form">
        
        <div class="form-group">
            <label for="exerciseType">Exercise Type</label>
            <input type="text" class="form-control" id="exerciseType" placeholder="Exercise Type">
        </div>
        <div class="form-group">
            <label for="exerciseDate">Date</label>
            <input type="date" class="form-control" id="exerciseDate" placeholder="Date">
        </div>

        <button class="btn btn-primary">Log Exercise</button>
        <a href="/profile/{{ user.id }}" class="btn btn-success">Back to Profile</a>
    </form>
</div>

{% endblock %}