{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="h1">Log food item into Daily Journal for {{ user.username }}</h1>
    <p>Use this form to log a food item into the daily journal. Be as specific as you can with the amount of the food to help make the calorie count as accurate as possible. Example: "3 cups of scrambled eggs" is going to give a more accurate result than just "eggs".</p>
    <form method="POST" id="food_form">
        
        <div class="form-group">
            <label for="foodItem">Food Item</label>
            <input type="text" class="form-control" id="foodItem" placeholder="Food Item">
            <b id="foodItem-err"></b>
        </div>
        <div class="form-group">
            <label for="foodDate">Date</label>
            <input type="date" class="form-control" id="foodDate" placeholder="Date">
            <b id="foodDate-err"></b>
        </div>

        <button class="btn btn-primary">Log Food</button>
        <a href="/profile/{{ user.id }}" class="btn btn-success">Back to Profile</a>
    </form>

    <div id="journal-cards"></div>
</div>

{% endblock %}