{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="h1">Login to your Calorie Counter Account</h1>
    <form method="POST" id="login_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}

            <p>
                {{ field.label(class_="form-label") }}
                {{ field(class_="form-control") }}
            
                {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </p>
        {% endfor %}

        <button class="btn btn-primary">Login!</button>
        <a href="/" class="btn btn-success">Cancel</a>
    </form>
</div>
<br>

{% endblock %}