{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="h1">Profile for {{ user.username }}</h1>
    <h2 class="h2">Daily Caloric Goal: {{ user.goal_cal }}</h2>
    <a href="" class="btn btn-primary">Follow</a>
    <ul>
        <li><a href="/account/{{ user.id }}/groups">Groups</a></li>
        <li><a href="/account/{{ user.id}}/following">Following</a></li>
        <li><a href="/account/{{ user.id}}/followers">Followers</a></li>
        {% if g.user %}
        <li><a href="/account/{{ user.id }}">Account</a></li>
        {% endif %}
    </ul>
    <div>
        <p>Calendar will be here</p>
    </div>
</div>

{% endblock %}
