{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="h1">Profile for {{ user.username }}</h1>
    {% if g.user.id != user.id %}
      {% for followed_user in g.user.following %}
            {% if g.user.is_following(followed_user) %}
            <form method="POST" action="/account/stop-following/{{ followed_user.id }}">
              <button class="btn btn-primary btn-sm">Unfollow</button>
            </form>
            {% else %}
            <form method="POST" action="/account/follow/{{ followed_user.id }}">
              <button class="btn btn-outline-primary btn-sm">Follow</button>
            </form>
          {% endif %}
      {% endfor %}
    {% endif %}

    <ul>
        <li><a href="/account/{{ user.id }}/groups">Groups</a></li>
        <li><a href="/account/{{ user.id}}/following">Following</a></li>
        <li><a href="/account/{{ user.id}}/followers">Followers</a></li>
        {% if g.user.id == user.id %}
        <li><a href="/account/{{ user.id }}">Account</a></li>
        {% endif %}
    </ul>

    <h2 class="h2">Journal</h2>
    <h3 class="h3">Daily Caloric Goal: {{ user.goal_cal }}</h2>
    {% if g.user.id == user.id %}
    <a href="/account/{{ user.id }}/food" class="btn btn-primary">Record Food</a>
    {% endif %}
    <div class="container journal-cards">

      <div class="column">
        <div class="row">
      {% if user.foods %}

      {% for date in dates %}
      <div class="card {{ date }}" style='width: 18rem;'>
        <div class="card-header">
          {{ date }}
        </div>
        <ul class="list-group list-group-flush">
          {% for item in user.foods if item.date == date %}
          <li class="list-group-item">
            {% if g.user.id == user.id %}
            <form method="POST" action="/profile/{{ user.id }}/food-delete"><button class="btn btn-danger btn-sm" id="{{ user.foods.id }}">X</button>{% endif %} {{ item.food }} --- {{ item.calories }}</form>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}

      {% else %}
      <p>{{ user.username }} hasn't added any food to their journal yet!</p>
      {% endif %}

        </div>
      </div>

    </div>
</div>
<br>

{% endblock %}
