{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="h1">Sign Up for Calorie Counter</h1>
    <p>Please create a unique username and password. Must create a password with a minimum of 8 characters. The daily caloric goal must be entered at this time, but can be altered in the future. Each field is required to obtain an account.</p>
    <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
        </p>
        {% endfor %}

        <button class="btn btn-primary">Sign Up!</button>
        <a href="/" class="btn btn-success">Cancel</a>
    </form>
</div>
<br>

{% endblock %}